{% extends 'KatropineAdminBundle::layout.html.twig' %}

{% block title %}{{'Company_Subscribe'|trans}}{% endblock %}

{% block bodyheading %}
    {% include 'KatropineAdminBundle:partials:bodyheading.html.twig' with {'title' : 'Company_Subscribe'|trans } %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{company.name}}</p>
                            {#<p class="announcement-text">{{total}} {{'users'|trans}}</p>#}
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            {% include 'KatropineAdminBundle:partials:company-submenu.html.twig' %}
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>    
                            
    <div class="container-fluid">
      
        {{ form(form) }}
       
    </div>
{% endblock %}    