<ul class="pagination">
    {% if pagination.total > pagination.maxrows %}
       <li><a href="{{pagination.getUrlFirst}}" title="{% trans %}Go_to_Page{% endtrans %} {{pagination.first}}">&laquo;</a></li>
       <li><a href="{{pagination.getUrlPrev}}" title="{% trans %}Go_to_Page{% endtrans %} {{pagination.prev}}">&lsaquo;</a></li>
        {% for i in range(pagination.start, pagination.end) %}
        {% if i==pagination.page %}
        {% set current = "active" %}
        {% else %}
        {% set current = "" %}
        {% endif %}
        <li class="{{current}}"><a href="{{pagination.getUrlIterated(i)}}" title="{% trans %}Go_to_Page{% endtrans %} {{i}}" class="page {{current}}">{{i}}</a></li>

    {% endfor %}
       <li><a href="{{pagination.getUrlNext}}" title="{% trans %}Go_to_Page{% endtrans %} {{pagination.next}}">&rsaquo;</a></li>
       <li><a href="{{pagination.getUrlLast}}" title="{% trans %}Go_to_Page{% endtrans %} {{pagination.last}}">&raquo;</a></li>
    {% endif %}   
    <li class="disabled"><a href="#">{{pagination.page}}/{{pagination.end}}</a></li>
    <li class="disabled"><a href="#">{% trans %}records{% endtrans %}: {{pagination.total}}</a></li>
</ul>