{% extends 'KatropineAdminBundle::layout.html.twig' %}

{% block title %}{{'Add_new'|trans}} {{'company'|trans}}{% endblock %}

{% block bodyheading %}
    {% include 'KatropineAdminBundle:partials:bodyheading.html.twig' with {'title' : 'Employment_contract'|trans } %}
{% endblock %}

{% block body %}
    {% if user is defined and user is not null %}
     <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{user.firstname}} {{user.lastname}}</p>
                            <p class="announcement-text">{{user.company.name}} </p>
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            {% set company = user.company %}
                            {% include 'KatropineAdminBundle:partials:company-submenu.html.twig' %}
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>    
    {% endif %}  
    
    <div class="container-fluid">
        <nav class="navbar navbar-default" role="navigation">

            <div class="container-fluid">
                <form class="navbar-form navbar-left" role="search" method="GET">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control" placeholder="{% trans %}Submit{% endtrans %}" value="{{q}}">
                    </div>

                    <button type="submit" class="btn btn-default">{% trans %}Submit{% endtrans %}</button>

                </form>
                <div class="navbar-form navbar-right">
                    {% if user is defined and user is not null %}
                    <a href="{{path('company_user_employment_contracts', {'id' : user.company.id,'uid': user.id})}}" class="btn btn-primary">{{'Assign_from_template'|trans}}</a>
                    {% endif %} 
                    {% if company is defined and company is not null %}
                    <a href="{{path('company_employment_contract_addnew', {'cid': company.id})}}" class="btn btn-primary">{{'Add_new'|trans}}</a>
                    {% else %}
                    <a href="{{path('employment_contract_addnew')}}" class="btn btn-primary">{{'Add_new'|trans}}</a>    
                    {% endif %}    
                </div>
            </div>
        </nav>
    </div>
                
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-4"><div class="container-fluid"><h2 class="page-heading user">{{'Employment_contracts'|trans}}</h2></div></div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group pull-right">paginationHtmlRows</div><div class="btn-group pull-right">{% include 'KatropineAdminBundle:partials:pagination.html.twig' %}</div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-striped">
                <tr>
                    <th>{{'Id'|trans}}</th>
                    <th>{{'Name'|trans}}</th>
                    <th>{{'Vacation_days_per_year'|trans}}</th>
                    <th>{{'Min_hours_per_week'|trans}}</th>
                    <th>{{'Working_day_duration'|trans}}</th>
                    <th>{{'Lunch_break_duration'|trans}}</th>
                    <th>{{'Lunch_break_excluded'|trans}}</th>
                   
                    <th></th>
                </tr>
                {% for contract in contracts %}
                <tr>
                    <td>{{ contract.id }}</td>
                    <td><a href="{{ path('employment_contract_edit', {'id' : contract.id}) }}">{{ contract.name }}</a></td>
                    <td>{{ contract.vacationDaysPerYear }}</td>
                    <td>{{ contract.minHoursPerWeek }}</td>
                    <td>{{ contract.workingDayDuration|date('H:i') }}</td>
                    <td>{{ contract.lunchBreakDuration|date('H:i') }}</td>
                    <td>{{ (contract.lunchBreakExcluded)? 'Yes'|trans:'No'|trans }}</td>
                  
                    <td align="right"><a href="{{path('employment_contract_edit', {'id': contract.id })}}" class="btn btn-success btn-xs">{{'edit'|trans}}</a> <a href="{{path('employment_contract_delete', {'id': contract.id })}}" class="btn btn-danger btn-xs">{{'delete'|trans}}</a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="container-fluid">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group pull-right">paginationHtmlRows</div><div class="btn-group pull-right">{% include 'KatropineAdminBundle:partials:pagination.html.twig' %}</div>
                </div>
            </div>
        </div>
    </div>       
{% endblock %}    