{% extends 'KatropineAdminBundle::layout.html.twig' %}

{% block title %}{{'Add_new'|trans}} {{'user'|trans}}{% endblock %}

{% block bodyheading %}
    {% include 'KatropineAdminBundle:partials:bodyheading.html.twig' with {'title' : 'Add_new'|trans } %}
{% endblock %}

{% block body %}
     <div>
        <table class="table">
            <tr>
                <td>{{'Id'|trans}}: {{user.id}}</td>
                <td>{{'Created'|trans}}: {{user.created|date('Y-m-d H:i:s')}}</td>
                <td>{{'Updated'|trans}}: {{user.modified|date('Y-m-d H:i:s')}}</td>
            </tr>
        </table>
    </div>
    <div>      
        {{ form(form) }}
    </div>
{% endblock %}    